<section id="slider1" class="anim-slider anim-slider_single-slide" data-stellar-background-ratio="0.5">
    <div class="content-wrapper" id="scene">
      	<h1 data-depth="0.8" id="h1">liquid crystal</h1>
		<figure>
        	<img src="img/hr.png" alt="logo">
	    </figure>
      	<p>The essential high resolution medium format 3D printer Wi-Fi enabled with touch screen printing for the simplest and most reliable operation</p>
		<button class="btn" data-id="<%= printer._id %>">Купить</button>
    </div>
</section>