<section id="slider3" class="anim-slider anim-slider_single-slide">
    <div class="content-wrapper">
      <figure>
        <img src="img/imagepac3Dlogo.png" alt="logo">
      </figure>
      <h1>UV resins</h1>
      <p>UV resins compatible with UV laser and DLP 3D printers
		with an impressive variety of properties</p>
    </div>
</section>

