<section class="comparison">

  <div class="container">
    <table class="table table-hover">
      <thead>
        <caption>сравнительная таблица принтеров</caption>
      </thead>
      <tbody>
        <tr class="table__firstrow">
          <td class="col-md-3 col-xs-12"> принтер</td>
          <td class="col-md-3 col-xs-12">lc10''</td>
          <td class="col-md-3 col-xs-12">lchr</td>
          <td class="col-md-3 col-xs-12">lcpro</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12"></td>
          <td class="col-md-3 col-xs-12"><img src="img/tableLC10.png" alt="LC10"></td>
          <td class="col-md-3 col-xs-12"><img src="img/tableLCHR.png" alt="LCHR"></td>
          <td class="col-md-3 col-xs-12"><img src="img/tableLCPRO.png" alt="LCPRO"></td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Технология</td>
          <td class="col-md-3 col-xs-12">полимерная печать</td>
          <td class="col-md-3 col-xs-12">полимерная печать</td>
          <td class="col-md-3 col-xs-12">полимерная печать</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Размеры</td>
          <td class="col-md-3 col-xs-12">30*25*40 см</td>
          <td class="col-md-3 col-xs-12">38*35*57 см</td>
          <td class="col-md-3 col-xs-12">82 (W)× 74 (H) × 49 (D) cm</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Вес</td>
          <td class="col-md-3 col-xs-12">8 кг</td>
          <td class="col-md-3 col-xs-12">15 кг</td>
          <td class="col-md-3 col-xs-12">66 кг</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Потребляемая мощность</td>
          <td class="col-md-3 col-xs-12">100-240В <br> UK/USA/EU plug</td>
          <td class="col-md-3 col-xs-12">100-240В<br> UK/USA/EU plug</td>
          <td class="col-md-3 col-xs-12">100-240В<br> UK/USA/EU plug</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Размер дисплея</td>
          <td class="col-md-3 col-xs-12">10''<br>1024*600px</td>
          <td class="col-md-3 col-xs-12">9.7''<br>2048*1536px</td>
          <td class="col-md-3 col-xs-12">23.8''<br>3840*2160px</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Тип соединения</td>
          <td class="col-md-3 col-xs-12">USB, HDMI,<br>(Wireless optional)</td>
          <td class="col-md-3 col-xs-12">USB, Wireless, Ethernet</td>
          <td class="col-md-3 col-xs-12">USB, Display port</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Управление</td>
          <td class="col-md-3 col-xs-12">Клавиша</td>
          <td class="col-md-3 col-xs-12">Клавиша, Интерактивный сенсорный дисплей 7''</td>
          <td class="col-md-3 col-xs-12">ПК</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Тип материалов</td>
          <td class="col-md-3 col-xs-12">Daylight resins</td>
          <td class="col-md-3 col-xs-12">Daylight resins</td>
          <td class="col-md-3 col-xs-12">Daylight resins</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Тип заполнения</td>
          <td class="col-md-3 col-xs-12">Ручной</td>
          <td class="col-md-3 col-xs-12">Ручной</td>
          <td class="col-md-3 col-xs-12">Ручной</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Размер объекта</td>
          <td class="col-md-3 col-xs-12">200 x 100 x 200 мм</td>
          <td class="col-md-3 col-xs-12">196 x 147 x 250 мм</td>
          <td class="col-md-3 col-xs-12">470 x 240 x 340 мм</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Толщина слоя</td>
          <td class="col-md-3 col-xs-12">50, 100 микрон</td>
          <td class="col-md-3 col-xs-12">25, 50, 100 микрон</td>
          <td class="col-md-3 col-xs-12">25, 50, 100 микрон</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Плотность пикселей</td>
          <td class="col-md-3 col-xs-12">220 микрон</td>
          <td class="col-md-3 col-xs-12">97 микрон</td>
          <td class="col-md-3 col-xs-12">137 микрон</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Скорость затвердевания</td>
          <td class="col-md-3 col-xs-12">25-55сек/слой<br>(Зависит от материала)</td>
          <td class="col-md-3 col-xs-12">25-55сек/слой<br>(Зависит от материала)</td>
          <td class="col-md-3 col-xs-12">50-100сек/слой<br>(Зависит от материала)</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Срок гарантии</td>
          <td class="col-md-3 col-xs-12">1 год</td>
          <td class="col-md-3 col-xs-12">1 год</td>
          <td class="col-md-3 col-xs-12">2 года</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Расширенная гарантия</td>
          <td class="col-md-3 col-xs-12">нет</td>
          <td class="col-md-3 col-xs-12">+ 1 год - 200EU</td>
          <td class="col-md-3 col-xs-12">+1 год - 350EU</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <caption>программное обеспечение</caption>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-3 col-xs-12">Software</td>
          <td class="col-md-3 col-xs-12">Creation Workshop 1 year licence (Windows Only)
  Printflow with Wi-Fi Enabler Compatible with Windows, Mac, Linux</td>
          <td class="col-md-3 col-xs-12">Creation Workshop 1 year licence (Windows Only)
Printflow Compatible with: Windows, Mac, Linux</td>
          <td class="col-md-3 col-xs-12">Creation Workshop 1 year licence (Windows Only)</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <caption>Ситемные требования</caption>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-3 col-xs-12">ОС</td>
          <td class="col-md-3 col-xs-12">Windows XP or Later, Linux, OSX</td>
          <td class="col-md-3 col-xs-12">Windows XP or Later, Linux, OSX</td>
          <td class="col-md-3 col-xs-12">Printflow software is not used with the Liquid Crystal Pro printer</td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Процессор</td>
          <td class="col-md-3 col-xs-12">Dual Core 1.2ghz CPU</td>
          <td class="col-md-3 col-xs-12">Dual Core 1.2ghz CPU</td>
          <td class="col-md-3 col-xs-12"></td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">ОП</td>
          <td class="col-md-3 col-xs-12">2GB Ram</td>
          <td class="col-md-3 col-xs-12">2GB Ram</td>
          <td class="col-md-3 col-xs-12"></td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Монитор</td>
          <td class="col-md-3 col-xs-12">1024*768px</td>
          <td class="col-md-3 col-xs-12">1024*768px</td>
          <td class="col-md-3 col-xs-12"></td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Браузер</td>
          <td class="col-md-3 col-xs-12">Microsoft Internet Explorer, Google Chrome, Mozilla Firefox, Microsoft Edge</td>
          <td class="col-md-3 col-xs-12">Microsoft Internet Explorer, Google Chrome, Mozilla Firefox, Microsoft Edge</td>
          <td class="col-md-3 col-xs-12"></td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12">Интернет соединение</td>
          <td class="col-md-3 col-xs-12">Да</td>
          <td class="col-md-3 col-xs-12">Да</td>
          <td class="col-md-3 col-xs-12"></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <caption>Комплектация</caption>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-3 col-xs-12">В Комплекте</td>
          <td class="col-md-3 col-xs-12">Scraper<br>
            Disposable Gloves<br>
            Strainer<br>
            HDMI cable<br>
            USB cable<br>
            250 gr resin<br>
            2 VAT film replacement<br>
            Power cable</td>
            <td class="col-md-3 col-xs-12">Scraper<br>
              Disposable Gloves<br>
              Strainer<br>
              HDMI cable<br>
              USB cable<br>
              250 gr resin<br>
              2 VAT film replacement<br>
              Power cable</td>
          <td class="col-md-3 col-xs-12">
            Scraper<br>
            Rachet Socket Wrench<br>
            Nut Socket<br>
            Allen Key<br>
            Funnel<br>
            Paper Strainer x 10<br>
            Spray Bottle<br>
            Nitrile Gloves x 4<br>
            Vat Film Pack sub-assembly<br>
            Gasket pack sub-assembly<br>
            5 Kg resin<br>
            2 VAT film replacement<br>
            USB Cable<br>
            Display Port Cable<br>
            AC Cable<br>
          </td>
        </tr>
        <tr>
          <td class="col-md-3 col-xs-12"></td>
          <td class="col-md-3 col-xs-12"><button class="btn" type="button" name="button">Купить</button></td>
          <td class="col-md-3 col-xs-12"><button class="btn" type="button" name="button">Купить</button></td>
          <td class="col-md-3 col-xs-12"><button class="btn" type="button" name="button">Купить</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
