<footer>
        <div class="container">
        		<div class="row">
        			<div class="footer__logo col-md-6">
        				<ul class="footer__logo-list">
       					<li class="footer__3dprintlogo">
       						<a href="http://3dprint.com.ua">
      							<img src="img/3DPrintLogo.png" alt="3DPrintLogo">
       						</a>
       						<p>Официальный дилер в Украине</p>
       					</li>
       					<li class="footer__photoLogo">
       						<img src="img/imagepac3Dwhite.png" alt="photosentricLogo">
       					</li>
       					<li class="separator"></li>
        				</ul>
        			</div>
        			<div class="footer__menu col-md-6">
       				<ul class="footer__menu-list">
       					<li><a href="#">Официальный сайт</a></li>
       					<li><a href="#">Сайт 3Dprint.com.ua</a></li>
       					<li><a href="#">Контакты</a></li>
      					<li><a href="#">Карта сайта</a></li>
       				</ul>
       			</div>
       		</div>
       	</div>
</footer>