<header id="header" class="nav-down">

            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img src="img/LogoPhotocentric1.png" alt="logo">
                    </a>
                </div>

                <nav>
                        <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                                <span class="tcon-menu__lines" aria-hidden="true"></span>
                                <span class="tcon-visuallyhidden">toggle menu</span>
                        </button>
                        <a href="#top" rel="m_PageScroll2id">
                           <span class="tcon-indicator" aria-label="scroll" aria-hidden="true">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="tcon-svgchevron" viewBox="0 0 30 36">
                                        <path class="a3" d="M0,0l15,16L30,0"></path>
                                        <path class="a2" d="M0,10l15,16l15-16"></path>
                                        <path class="a1" d="M0,20l15,16l15-16"></path>
                                </svg>
                            </span> 
                        </a>
                        
                    <ul class="nav__menu-list">
                        <li class="nav__menu-item ">
                            <a href="#" class="nolink">Продукция</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#" class="nolink">Сфера применения</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#">О нас</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="#">Магазин</a>
                        </li>
                        <li class="nav__menu-item">
                            <div class="fa fa-shopping-bag"><div class="bage animated pulse infinite"></div></div>
                        </li>
                    </ul>

                    <ul class="nav__submenu-product">
                        <li>
                            <a href="/products/liquidcrystal10">
                                <figure>
                                    <img src="img/logo1-lchr.png" alt="logo" />
                                    <figcaption>Liquid crystal 10''</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="/products/liquidcrystalHr">
                                <figure>
                                    <img src="img/logo2-lchr.png" alt="logo" />
                                    <figcaption>Liquid crystal HR</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="/products/liquidcrystalPro">
                                <figure>
                                    <img src="img/logo3-lc-pro.png" alt="logo" />
                                    <figcaption>Liquid crystal PRO</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="/products/uvresins">
                                <figure>
                                    <img src="img/logo4-UVresin.png" alt="logo" />
                                    <figcaption>UV resins</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="/products/daylightresins">
                                <figure>
                                    <img src="img/logo5-DAYLIGHT.png" alt="logo" />
                                    <figcaption>daylight resins</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav__submenu-ind">
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="img/art-and-design-icon.png" alt="logo" />
                                    <figcaption>Дизайн</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="img/dentistry-icon.png" alt="logo" />
                                    <figcaption>стоматология</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="img/engineering-Icon.png" alt="logo" />
                                    <figcaption>инженерия</figcaption>

                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="img/jewellry-icon.png" alt="logo" />
                                    <figcaption>ювелирный бизнес</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>



        </header>
