
        <section class="concept">
        	<h1 class="concept__caption">THE NEXT GENERATION OF 3D PRINTING IS HERE</h1>
        	<div class="container">
        		<div class="row">
        			<div class="concept__image col-sm-6">
        				<div class="concept__image-wrapper animated fadeInLeft">
        					<img src="img/FSV-LCHR_3.png" alt="fsv-lchr">
        					<img src="img/Galeonwithcoin.png" alt="galeonimage">
        				</div>
        			</div>
        			<div class="concept__article-wrapper col-sm-6">
        				<article class="concept__article">
        					<h1 class="concept__caption">the concept</h1>
        					<hr>
        					<p>The concept is simple – instead of using a laser or a projector to cure the polymer, we use unmodified LCD screens and our specially formulated Daylight polymer. All other 3D printers that polymerise resin use a combination of both daylight and UV light at considerably higher intensities. Photocentric has been able to make this work by developing the world’s most sensitive daylight resins. Utilising mass produced screens designed for use in mobiles, handheld devices enable us to use the highest resolution screens, offering phenomenal value for money, which we can then pass onto our customers. The opportunities are limitless; higher and higher resolution screens becoming available in all formats from mobiles to large format televisions provide the lowest cost imaging systems ever imagined.</p>
        				</article>
        				<figure>
        					<figcaption>DAYLIGHT POLYMER PRINTING (D.P.P)</figcaption>
        					<img src="img/LCDscheme-2.png" alt="LCDscheme">
        				</figure>
        				<figure>
        					<figcaption>UV & LASER COMPATIBLE RESIN PRINTING (S.L.A. & D.L.P.)</figcaption>
        					<img src="img/ProyectorLaserScheme-2.png" alt="LCDscheme">
        				</figure>
        			</div>
        		</div>
        		<div class="row products">
        			<div class="products__wrapper col-sm-12 col-md-4">
        				<figure>
        					<img class="" src="img/LC10.png" alt="liquidCrystal10">
        					<figcaption>LIQUID CRYSTAL 10″</figcaption>
        				</figure>
        				<div class="separator"></div>
        				<p>Build platform 200 x 100 x 200 mm
        7.9 x 3.9 x 7.9 inches</p>
        				<button class="btn">Узнать больше</button>
        			</div>
        			<div class="products__wrapper col-sm-12 col-md-4">
        				<figure>
        					<img class="" src="img/LCHR.png" alt="liquidCrystal10">
        					<figcaption>LIQUID CRYSTAL 10″</figcaption>
        				</figure>
        				<div class="separator"></div>
        				<p>Build platform 200 x 100 x 200 mm
        7.9 x 3.9 x 7.9 inches</p>
        				<button class="btn">Узнать больше</button>
        			</div>
        			<div class="products__wrapper col-sm-12 col-md-4">
        				<figure>
        					<img class="" src="img/LCPRO2017.png" alt="liquidCrystal10">
        					<figcaption>LIQUID CRYSTAL 10″</figcaption>
        				</figure>
        				<div class="separator"></div>
        				<p>Build platform 200 x 100 x 200 mm
        7.9 x 3.9 x 7.9 inches</p>
        				<button class="btn">Узнать больше</button>
        			</div>
        		</div>
        	</div>
        </section>

        <section class="daypolymer">
        	<div class="container">
        		<img class="daypolymer__logo" src="img/imagepac3Dlogo.png" alt="imagepac3Dlogo">
        		<h1>specialists in 3d polymer resins</h1>
        		<div class="row">
        		<div class="daypolymer__description col-md-6">
        			<h1>daylight resins</h1>
        			<ul class="propert-list">
        				<li class="propert-item ">
        					<div class="sprite-window">
        						<img class="spr-castable" src="img/materialProp.png" alt="properties">
        					</div>
        					<span>Текучий?</span>

        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-flexible" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Гибкий</span>
        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-firm" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Прочный</span>
        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-hard" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Твёрдый</span>
        				</li>
        			</ul>
        			<h3>Colors</h3>
        			<img class="daypolymer__colors" src="img/colorsMainDaylight.png" alt="colorslist">
        			<p class="footnote">* All colours are not available in every type</p>
        			<button class="btn">Узнать больше</button>
        		</div>
        		<div class="daypolymer__image col-md-6">
        			<img src="img/3-Resin-Bottles.png" alt="resinBottles">
        		</div>
        	</div>
        	</div>
        </section>
        <section class="uvpolymer">
        	<div class="container">

        		<div class="row">
        		<div class="daypolymer__description col-md-6">
        			<h1>uv&laser compatible resins</h1>
        			<ul class="propert-list">
        				<li class="propert-item ">
        					<div class="sprite-window">
        						<img class="spr-castable" src="img/materialProp.png" alt="properties">
        					</div>
        					<span>Текучий?</span>

        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-flexible" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Гибкий</span>
        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-firm" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Прочный</span>
        				</li>
        				<li class="propert-item ">
        						<div class="sprite-window">
        							<img class="spr-hard" src="img/materialProp.png" alt="properties">
        						</div>
        						<span>Твёрдый</span>
        				</li>
        			</ul>
        			<h3>колiр</h3>
        			<img class="daypolymer__colors" src="img/colorsMainDaylight.png" alt="colorslist">
        			<p class="footnote">* Не всi кольори доступнi</p>
        			<button class="btn">Узнать больше</button>
        		</div>
        		<div class="daypolymer__image col-md-6">
        			<img src="img/UVBottles.png" alt="resinBottles">
        		</div>
        	</div>
        	</div>
        </section>