.cart {
  position: fixed;
  right: 10px;
  top: 100px;
  width: 40%;
  z-index: 11112;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 5px #c1c1c1;
          box-shadow: 0 1px 5px #c1c1c1;
  padding: 50px; }
  .cart button {
    height: 30px;
    width: 30px;
    border: 2px solid #555;
    border-radius: 6px;
    margin: 10px auto;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none; }
  .cart hr {
    margin: 0;
    padding: 0; }
  .cart input {
    width: 3em; }
  .cart .fa-refresh {
    display: none; }

.cart__order {
  width: 100%; }

.cart-close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none; }

.fa-shopping-bag {
  font-size: 24px;
  color: #818181;
  position: relative;
  cursor: pointer; }

.bage {
  display: none;
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-family: arial;
  background-color: rgba(40, 167, 68, 0.64);
  color: white;
  float: right;
  position: absolute;
  bottom: -5px;
  right: -5px; }

.cart__footer {
  margin-top: 10px; }

#cart__totalPrice {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold; }

.notifyjs-foo-base button {
  background-color: white;
  height: 24px; }
