<section id="slider1" class="anim-slider anim-slider_single-slide" data-stellar-background-ratio="0.5">
    <div class="content-wrapper" id="scene">
		<figure data-depth="0.2">
			<img src="img/LiquidCrystalLogo.png" alt="logo">
		</figure>
      	<h1 data-depth="0.8" id="h1">liquid crystal 10</h1>
      	<p>Our affordable medium format SLA printer providing you with high resolution and very simple use</p>
      	<a href="#"><button class="btn animated pulse" data-effect="pulse">Купить</button></a>
    </div>
</section>