<section class="header-image header-image__lqHr">
  <div class="header-image__content-box js-showHeaderCaption">
    <figure>
      <img class="header-image__logo-img" src="img/HR.png" alt="logo Liquid Crystal">
      <figcaption class="caption header-image__content-figcaption m10">Liquid Crystal</figcaption>
    </figure>
    <h2 class="caption header-image__content-caption">меняя подход к производству во всем мире</h2>
    <p class="text header-image__content-text">build platform 470 x 240 x 340 mm <br>18.5" x 9.5" x 13.4 "inches</p>
    <a data-id="<%= printer._id %>" class="btn header-image__btn">Купить</a>
  </div>
</section>
