<form action="/send-order/" method="post" id="sendOrder" class="order animated fadeInDownBig" target="_self">
	<span class="fa fa-times"></span>
    <ul>
        <li><input type="text" name="name" placeholder="Имя..." required></li>
        <li><input type="email" name="email" placeholder="E-mail..." required></li>
        <li><input type="tel" name="phone" placeholder="Телефон..." required></li>
        <li><textarea placeholder="Комментарий.." name="comment"></textarea>
    </ul>
    <input type="submit">
</form>
