<header class="header">
  <div class="container">

    <nav class="nav--mob">
        <div class="logo">
          <a href="/">
            <img src="img/LogoPhotocentric1.png" alt="logo">
          </a>
        </div>
        <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
        <a href="#top" rel="m_PageScroll2id">
          <span class="tcon-indicator" aria-label="scroll" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="tcon-svgchevron" viewBox="0 0 30 36">
              <path class="a3" d="M0,0l15,16L30,0"></path>
              <path class="a2" d="M0,10l15,16l15-16"></path>
              <path class="a1" d="M0,20l15,16l15-16"></path>
            </svg>
          </span>
        </a>
        <ul class="nav__menu-list--mob animated hidden fadeInUp">
          <li class="nav__menu-item js-showSubmenuProd-mob">
            <a href="#" class="nolink">Продукция</a>
          </li>
          <li class="nav__menu-item js-showSubmenuInd-mob">
            <a href="#" class="nolink">Сфера применения</a>
          </li>
          <li class="nav__menu-item">
            <a href="#">О нас</a>
          </li>
          <li class="nav__menu-item">
            <a href="#">Магазин</a>
          </li>
      </ul>
      <div class="fa fa-shopping-bag"><div class="bage animated pulse infinite"></div></div>
    </nav>

    <nav class="nav--scroll js-scrolledMenu">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="img/LogoPhotocentric1.png" alt="logo">
          </a>
        </div>
        <div class="fa fa-shopping-bag"><div class="bage animated pulse infinite"></div></div>
        <ul class="nav__menu-list animated ">
          <li class="nav__menu-item js-showSubmenuProd">
            <a href="#" class="nolink">Продукция</a>
          </li>
          <li class="nav__menu-item js-showSubmenuInd">
            <a href="#" class="nolink">Сфера применения</a>
          </li>
          <li class="nav__menu-item">
            <a href="#">О нас</a>
          </li>
          <li class="nav__menu-item">
            <a href="#">Магазин</a>
          </li>
        </ul>
      </div>

      </div>

      <ul class="nav__submenu nav__submenu-product js-submenuProd__desktopEvent animated fadeIn">
        <li class="nav__submenu-item">
          <a href="/products/liquidcrystal10">
            <figure>
              <img class="nav__submenu-image" src="img/logo1-lchr.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">Liquid crystal 10''</figcaption>

            </figure>
          </a>
        </li>
        <li class="nav__submenu-item">
          <a href="/products/liquidcrystalHr">
            <figure>
              <img class="nav__submenu-image" src="img/logo2-lchr.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">Liquid crystal HR</figcaption>
            </figure>
          </a>
        </li>
        <li class="nav__submenu-item">
          <a href="/products/liquidcrystalPro">
            <figure>
              <img class="nav__submenu-image" src="img/logo3-lc-pro.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">Liquid crystal PRO</figcaption>

            </figure>
          </a>
        </li>
        <li class="nav__submenu-item">
          <a href="/products/uvresins">
            <figure>
              <img class="nav__submenu-image" src="img/logo4-UVresin.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">UV resins</figcaption>
            </figure>
          </a>
        </li>
        <li class="nav__submenu-item">
          <a href="/products/daylightresins">
            <figure>
              <img class="nav__submenu-image" src="img/logo5-DAYLIGHT.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">daylight resins</figcaption>
            </figure>
          </a>
        </li>
      </ul>

      <ul class="nav__submenu nav__submenu-ind js-submenuInd__desktopEvent animated fadeIn">
        <li class="nav__submenu-item nav__submenu-ind_item">
          <a href="#" class=".nolink">
            <figure>
              <img class="nav__submenu-image" src="img/art-and-design-icon.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">Дизайн</figcaption>

            </figure>
          </a>
        </li>
        <li class="nav__submenu-item nav__submenu-ind_item">
          <a href="#" class=".nolink">
            <figure>
              <img class="nav__submenu-image" src="img/dentistry-icon.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">стоматология</figcaption>

            </figure>
          </a>
        </li>
        <li class="nav__submenu-item nav__submenu-ind_item">
          <a href="#" class=".nolink">
            <figure>
              <img class="nav__submenu-image" src="img/engineering-Icon.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">машиностроение</figcaption>

            </figure>
          </a>
        </li>
        <li class="nav__submenu-item nav__submenu-ind_item">
          <a href="#" class=".nolink">
            <figure>
              <img class="nav__submenu-image" src="img/jewellry-icon.png" alt="logo" />
              <figcaption class="caption nav__submenu-caption">ювелирный бизнес</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
