		<div class="slider-container">
			<div class="slider-control left inactive"></div>
		  <div class="slider-control right"></div>
			<ul class="slider-pagi"></ul>
			<!-- slider container -->
			<div class="slider">

				<div class="slide slide-0 active">
		      <div class="slide__bg"></div>
		      <div class="slide__content">
		        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
		          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
		        </svg>
		        <div class="slide__text">
		          <h2 class="caption header-image__content-caption slide__text-heading">welcome to the next level</h2>
							<p class="text header-image__content-text">Innovators in photopolymer</p>
		          <a href="/products/liquidcrystal10" class="btn header-image__btn">Узнать больше</a>
		        </div>
		      </div>
		    </div>

				<div class="slide slide-1">
		      <div class="slide__bg"></div>
		      <div class="slide__content">
		        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
		          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
		        </svg>
		        <div class=" slide__text">
							<figure>
								<img class="header-image__logo-img" src="img/LiquidCrystalLogo.png" alt="logo Liquid Crystal">
								<figcaption class="caption header-image__content-figcaption m10">Liquid Crystal</figcaption>
							</figure>
		          <h2 class="caption header-image__content-caption">меняя подход к производству во всем мире</h2>
		          <p class="text header-image__content-text">build platform 470 x 240 x 340 mm <br>18.5" x 9.5" x 13.4 "inches</p>
		          <a href="/products/liquidcrystalPRO" class="btn header-image__btn">Узнать больше</a>
		        </div>
		      </div>
		    </div>

				<div class="slide slide-2">
		      <div class="slide__bg"></div>
		      <div class="slide__content">
		        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
		          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
		        </svg>
		        <div class=" slide__text">
							<figure>
								<img class="header-image__logo-img" src="img/imagepac3Dlogo.png" alt="logo">
								<figcaption class="caption header-image__content-figcaption m10">UV resins</figcaption>
							</figure>
		          <h2 class="caption header-image__content-caption m10">3d фотополимерные материалы<br>for every manufacturer's machine</h2>
		          <p class="text header-image__content-text">Desktop, large lasers and DLP</p>
							<a href="/products/uvresins" class="btn header-image__btn">Узнать больше</a>
		        </div>
		      </div>
		    </div>
				<div class="slide slide-3">
					<div class="slide__bg"></div>
					<div class="slide__content">
						<svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
							<path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
						</svg>
						<div class=" slide__text">
							<figure>
								<img class="header-image__logo-img" src="img/imagepac3Dlogo.png" alt="logo">
								<figcaption class="caption header-image__content-figcaption m10">daylight resins</figcaption>
							</figure>
							<p class="text header-image__content-text">Manufacturer of unique range of visible light active photopolymers,<br> providing all the possible properties needed</p>
							<a href="/products/daylightresins" class="btn header-image__btn">Узнать больше</a>
						</div>
					</div>
				</div>
			</div>

	</div>
