<section class="header-image header-image__dl">

  <div class="header-image__content-box js-showHeaderCaption">
    <figure>
      <img class="header-image__logo-img" src="img/imagepac3Dlogo.png" alt="logo">
    </figure>
    <h1 class="caption header-image__content-caption">daylight resins</h1>
    <p class="text header-image__content-text">Our daylight resins provide a full range of end properties from photopolymers highly active in the visible spectrum</p>
  </div>
</section>
