<section class="header-image header-image__lq10">
  <div class="header-image__content-box js-showHeaderCaption">
		<h2 class="caption header-image__content-caption">welcome to the next level</h2>
		<p class="text header-image__content-text">Innovators in photopolymer</p>
		<a data-id="<%= printer._id %>" class="btn header-image__btn">Купить</a>
  </div>
</section>
