<section class="header-image header-image__uv">

  <div class="header-image__content-box js-showHeaderCaption">
    <figure>
      <img class="header-image__logo-img" src="img/imagepac3Dlogo.png" alt="logo">
    </figure>
    <p class="text header-image__content-text">UV resins compatible with UV laser and DLP 3D printers
  with an impressive variety of properties</p>
  </div>
</section>
