<section id="slider4" class="anim-slider anim-slider_single-slide" data-stellar-ratio="22">
    <div class="content-wrapper">
      <figure>
        <img src="img/imagepac3Dlogo.png" alt="logo">
      </figure>
      <h1>daylight resins</h1>
      <p>Our daylight resins provide a full range of end properties from photopolymers highly active in the visible spectrum</p>
    </div>
</section>