<section id="slider2" class="anim-slider anim-slider_single-slide" data-stellar-background-ratio="0.5">
    <div class="content-wrapper" id="scene">
      	<h1 data-depth="0.8" id="h1">liquid crystal</h1>
		<figure>
        	<img src="img/pro.png" alt="logo">
	    </figure>
      	<p>Produce large high resolution objects at a fraction of the cost of other 3d printers. </p>
      	<button class="btn" data-id="<%= printer._id %>">Купить</button>
    </div>
</section>